/* CSS Document */
*{
padding:0;
margin:0;
color:#000000;
list-style:none;

list-style-type:none;
}

#body{
background:#666666;}


a{
text-decoration:none;}
a:hover{
color:#00CCFF;}


#top
{
 height:100px;
 color:#FFFFFF;
 border-bottom:1px solid #dfe0e0;
}
.top_l{
width:120px;
 height:49px;
 float:left;
 margin:30px 0 0 100px;
}
.top_l_logo{
font-family:"Courier New", Courier, monospace;
font-size:36px;
color:#00CCFF;
font-weight:bold;
}
.top_r{
width:1000px;
 height:48px;
 float:right;
}
.top_r ul li{
float:left;
margin:50px  0 0 45px;
font-size:16px;
font-family:"Î¢ÈíÑÅºÚ";

color:#000000;
}
.top_r ul img{
margin:40px 0 0 20px;
border:none;}



#c1{
border-top:1px solid #dfe0e0;
}
.c1_c{
width:583px;
height:33px;
margin:65px auto 0 auto;
background:url(../img/order/store.png) no-repeat;
font-weight:bold;
}
.c1_c1{
width:163px;
height:33px;
line-height:33px;
font-family:"Î¢ÈíÑÅºÚ";
font-size:14px;
text-align: center;
float:left;
color:#FFFFFF;
margin: 0 30px 0 0;
}
.c1_c2{
width:163px;
height:33px;
line-height:33px;
font-family:"Î¢ÈíÑÅºÚ";
font-size:14px;
text-align:center;
float:left;
color:#FFFFFF;
margin: 0 30px 0 0;
}
.c1_c3{
width:163px;
height:33px;
line-height:33px;
font-family:"Î¢ÈíÑÅºÚ";
font-size:14px;
text-align:center;
float:left;
color:#999999;

}

#c2{
width:1040px;
margin:0 auto;
font-family:"Î¢ÈíÑÅºÚ";
}

.c2_1{
margin:50px 0 0px 0px;
border-bottom:2px solid #dfe0e0;
font-size:18px;

}

.c2_2{
margin:20px 0 0 0px;
font-size:16px;
}
.c2_2 textfield {
border:1px solid #000000;
}
.c2_3{
margin:20px 0 0 0;
font-size:16px;

}

.c2_4{
margin:20px  0 0 0;
}






#c3{
width:1040px;
 border-top:2px solid #dfe0e0;
 margin:40px auto 0;
}


.c3_t{
margin:50px 0 0px 0px;
font-size:18px;
font-family:"Î¢ÈíÑÅºÚ";}


.c3_b{
border:1px solid #dfe0e0;
margin:20px 0 0 0;}





.c3_b_top{
height:62px;
width:1040px;
border-bottom:1px solid #dfe0e0;
font-size:14px;
color:#515151;
font-family:"Î¢ÈíÑÅºÚ";
}
.c3_b_top_1{
height:21px;
width:455px;
float:left;
padding:25px 0px 15px 45px;
}
.c3_b_top_2{
height:21px;
width:136px;
float:left;
padding:25px 0px 15px 18px;
}
.c3_b_top_3{
height:21px;
width:158px;
float:left;
padding:25px 0px 15px 26px;
}
.c3_b_top_4{
height:21px;
width:166px;
float:left;
padding:25px 0px 15px 34px;
}
.c3_b_bottom{
height:140px;
width:1040px;
}
.c3_b_bottom_1{
height:102px;
width:485px;
float:left;
padding:19px 0px 19px 15px;
}
.c3_b_bottom_1_l{
height:102px;
width:80px;
float:left;
}
.c3_b_bottom_1_r{
height:80px;
width:380px;
margin:12px 0px 6px 25px;
float:left;
}
.c3_b_bottom_1_r_t1{
height:30px;
width:380px;
float:none;
font-size: 18px;
color:#515151;
font-family:"Î¢ÈíÑÅºÚ";
}
.c3_b_bottom_1_r_t2{
height:20px;
width:380px;
float:none;
font-size:12px;
color:#999999;
}
.c3_b_bottom_1_r_t3{
height:30px;
width:300px;
float:none;
font-size:16px;
margin:0px 0px 0px 10px;
line-height:35px;
}
.c3_b_bottom_2{
height:14px;
width:154px;
float:left;
padding:64px 0px 64px 0px;
font-size:18px;
color:#515151;
}
.c3_b_bottom_3{
height:28px;
width:184px;
float:left;
padding:56px 0px 56px 0px;
}
.c3_b_bottom_3_1{
height:28px;
width:28px;
border:1px solid #dfe0e0;
float:left;
}
.c3_b_bottom_3_2{
height:20px;
width:44px;
border-bottom:1px solid #dfe0e0;
border-top:1px solid #dfe0e0;
padding:4px 2px 4px 2px;
line-height:20px;
font-size:14px;
float:left;
text-align:center;
}
.c3_b_bottom_3_3{
height:28px;
width:28px;
border:1px solid #dfe0e0;
float:left;
}
.c3_b_bottom_4{
height:14px;
width:154px;
float:left;
padding:64px 0px 64px 0px;
font-size:18px;
color:#515151;
}


.c3_f{
width:1040px;
margin:0 auto;
border-bottom:2px solid #dfe0e0;
font-size:18px;
color:#0099FF;}

#c4{
height:193px;
width:1040px;
margin:15px auto 100px auto;
font-family: "Î¢ÈíÑÅºÚ";
}
.c4_1{
height:120px;
width:1040px;

}
.c4_1_c{
height:120px;
width:195px;
margin:0px 15px 0px 0px;
border-bottom:1px solid #dfe0e0;
float:right;
}
.c4_1_c1{
height:20px;
width:180px;
margin:15px 0px 15px 15px;
}
.c4_1_c1_l{
height:20px;
width:60px;
font-size:14px;
text-align:right;
float:left;
}
.c4_1_c1_r{
height:20px;
width:110px;
margin:0px 0px 0px 10px;
font-size:14px;
text-align:right;
float:right;
}
.c4_2{
height:27px;
width:1040px;
padding:30px 0px 30px 0px;

}
.c4_2_r{
height:27px;
width:110px;
margin:0px 0px 0px 10px;
float:right;
font-size:20px;
color:#31a5e7;
text-align:right;
}
.c4_2_l{
height:20px;
width:75px;
float:right;
font-size:14px;
text-align: left;
padding:7px 0px 0px 0px;
}
.c4_3{
height:46px;
width:1040px;
}
.c4_3_c{
width:164px;
height:45px;
float:right;
background:#31a5e7;
font-size:18px;
font-weight:bold;
line-height:46px;
text-align:center;
color:#FFFFFF;
}




#a{
height:64px;
background:#ffffff;
padding:43px 0px 43px 0px;
}
.a_p{
height:64px;
width:1040px;
margin:0 auto;
}


#box{
height:147px;
width:1040px;
margin:50px auto 0px;
font-family: "Î¢ÈíÑÅºÚ";
}
.box_1{
height:147px;
width:215px;
float:left;
}
.box_1_1{
height:19px;
width:130px;
padding:10px 0px 10px 0px;
font-size:14px;
font-weight:bold;
text-align:left;
}
.box_1_2{
height:27px;
width:130px;
font-size:12px;
font-weight: normal;
text-align:left;
}
.box_1_3{
height:27px;
width:130px;
font-size:12px;
font-weight: normal;
text-align:left;
}
.box_1_4{
height:27px;
width:130px;
font-size:12px;
font-weight: normal;
text-align:left;
}
.box_1_5{
height:27px;
width:130px;
font-size:12px;
font-weight: normal;
text-align:left;
}
.box_2{
height:147px;
width:215px;
float:left;
}
.box_2_1{
height:19px;
width:130px;
padding:10px 0px 10px 0px;
font-size:14px;
font-weight:bold;
text-align:left;
}
.box_2_2{
height:27px;
width:130px;
font-size:12px;
font-weight: normal;
text-align:left;
}
.box_2_3{
height:27px;
width:130px;
font-size:12px;
font-weight: normal;
text-align:left;
}
.box_2_4{
height:27px;
width:130px;
font-size:12px;
font-weight: normal;
text-align:left;
}
.box_2_5{
height:27px;
width:130px;
font-size:12px;
font-weight: normal;
text-align:left;
}
.box_3{
height:147px;
width:215px;
float:left;
}
.box_3_1{
height:19px;
width:130px;
padding:10px 0px 10px 0px;
font-size:14px;
font-weight:bold;
text-align:left;
}
.box_3_2{
height:27px;
width:130px;
font-size:12px;
font-weight: normal;
text-align:left;
}
.box_3_3{
height:27px;
width:130px;
font-size:12px;
font-weight: normal;
text-align:left;
}
.box_3_4{
height:27px;
width:130px;
font-size:12px;
font-weight: normal;
text-align:left;
}
.box_3_5{
height:27px;
width:130px;
font-size:12px;
font-weight: normal;
text-align:left;
}
.box_4{
height:147px;
width:205px;
float:left;
}
.box_4_1{
height:19px;
width:130px;
padding:10px 0px 10px 0px;
font-size:14px;
font-weight:bold;
text-align:left;
}
.box_4_2{
height:27px;
width:130px;
font-size:12px;
font-weight: normal;
text-align:left;
}
.box_4_3{
height:27px;
width:130px;
font-size:12px;
font-weight: normal;
text-align:left;
}
.box_4_4{
height:27px;
width:130px;
font-size:12px;
font-weight: normal;
text-align:left;
}
.box_4_5{
height:27px;
width:130px;
font-size:12px;
font-weight: normal;
text-align:left;
}
.box_5{
height:147px;
width:190px;
float:left;
}
.box_5_1{
height:17px;
width:190px;
padding:10px 0px 10px 0px;
font-size:12px;
font-weight:100;
color:#999999;
}
.box_5_2{
height:17px;
width:190px;
padding:10px 0px 10px 0px;
margin:-15px 0px 0px 0px;
font-size:26px;
font-weight:bold;
}
.box_5_3{
height:40px;
width:190px;
margin:20px 0px 10px 0px;
background:#00a7ea;
text-align:center;
font-size:12px;
color:#FFFFFF;
line-height:40px;
}


#footer{
 width:1040px;
 height:25px;
 border-top:2px solid #dfe0e0;
margin:60px auto 30px;
}
.footer_t{
margin:5px 0 0 0;
font-size:12px;
text-align:center;
font-family:"Î¢ÈíÑÅºÚ";
color:#666666;

}

