* {
	padding: 0;
	margin: 0;
	color: #555555;
	list-style: none;
	border: none;
	list-style-type: none;
}

a {
	text-decoration: none;
}

a:hover {
	color: #00CCFF;
}

body {
	background: #f5f5f5;
}

#c2 {
	margin: 50px auto;
	width: 1040px;
	height: 85px;
}

.c2_top {
	height: 60px;
}

.c2_top_1 {
	width: 185px;
	height: 60px;
	float: left;
	margin: 0 0 0 1px;
	background: url(../img/shop/1445216359-91117.jpg) no-repeat;
}

.c2_top_2 {
	width: 190px;
	height: 60px;
	float: left;
	background: url(../img/shop/1445216359-91117.jpg) no-repeat;
}

.c2_top_3 {
	width: 185px;
	height: 60px;
	float: left;
	background: url(../img/shop/1445216359-91117.jpg) no-repeat;
}

.c2_top_4 {
	width: 190px;
	height: 60px;
	float: left;
	background: url(../img/shop/1445216359-91117.jpg) no-repeat;
}

.c2_top_5 {
	width: 230px;
	height: 60px;
	float: left;
	background: url(../img/shop/1445216359-91117.jpg) no-repeat;
}

.c2_top_6 {
	width: 54px;
	height: 60px;
	float: left;
	background: url(../img/shop/1423537580-25940.jpg) no-repeat;
}

.c2_bottom {
	height: 20px;
	font-weight: bold;
}

.c2_bottom_t1 {
	font-size: 14px;
	color: #666666;
}

.c2_bottom_t2 {
	font-size: 14px;
	color: #666666;
	margin: 0 109px;
}

.c2_bottom_t3 {
	font-size: 14px;
	color: #666666;
	margin: 0 18px;
}

.c2_bottom_t4 {
	font-size: 14px;
	color: #666666;
	margin: 0 114px;
}

.c2_bottom_t5 {
	font-size: 14px;
	color: #666666;
	margin: 0 29px;
}

.c2_bottom_t6 {
	font-size: 14px;
	color: #666666;
	float: right;
}

#c3 {
	margin: 0 auto;
	width: 1040px;
	height: 405px;
}

#c4 {
	margin: 0 auto;
	height: 580px;
	width: 1040px;
}

.c4_l {
	height: 570px;
	width: 520px;
	float: left;
}

.c4_l_top {
	height: 280px;
	width: 520px;
	float: inherit;
	margin: 1px;
}

.c4_l_bottom {
	height: 280px;
	width: 520px;
	margin: 1px;
}

.c4_r {
	height: 570px;
	width: 520px;
	float: left;
}

.c4_r_top {
	height: 280px;
	width: 520px;
	float: inherit;
	margin: 1px;
}

.c4_r_bottom {
	height: 280px;
	width: 520px;
	margin: 1px;
}

#c5 {
	margin: 20px auto;
	width: 1040px;
	height: 350px;
}

.c5_top {
	height: 45px;
}

.c5_top_t {
	font-size: 36px;
	font-weight: bold;
	color: #333333;
}

.c5_bottom {
	border-top: 2px solid #000000;
}

.c5_bottom_p {
	width: 260px;
	height: 300px;
	float: left;
}

#c6 {
	margin: 20px auto;
	width: 1040px;
}

.c6_top {
	height: 45px;
	border-bottom: 2px solid #000000;
}

.c6_top_t1 {
	font-size: 36px;
	font-weight: bold;
	color: #333333;
	float: left;
}

.c6_top_t2 {
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	float: right;
	margin: 20px;
}

.c6_c {
	background: #FFFFFF;
	width: 1040px;
	height: 150px;
}

.c6_c_top {
	width: 1040px;
	height: 60px;
}

.c6_c_top_top {
	height: 40px;
	width: 1040px;
}

.c6_c_top_p1 {
	width: 60px;
	height: 55px;
	margin: 0 55px;
	float: left;
}

.c6_c_top_p2 {
	width: 60px;
	height: 55px;
	float: left;
	margin: 0 31px;
}

.c6_c_bottom {
	width: 1040px;
	height: 30px;
	font-weight: bold;
	font-size: 14px;
}

.c6_c_bottom_t1 {
	width: 60px;
	height: 20px;
	margin: 0 60px;
	float: left;
}

.c6_c_bottom_t2 {
	width: 60px;
	height: 20px;
	margin: 0 58px;
	float: left;
}

.c6_c_bottom_t3 {
	width: 60px;
	height: 20px;
	margin: 0 53px;
	float: left;
}

.c6_c_bottom_t4 {
	width: 60px;
	height: 20px;
	margin: 0 48px;
	float: left;
}

.c6_c_bottom_t5 {
	width: 80px;
	height: 20px;
	margin: 0 48px;
	float: left;
}

.c6_c_bottom_t6 {
	width: 60px;
	height: 20px;
	margin: 0 25px;
	float: left;
}

.c6_bottom {
	height: 340px;
	width: 1040px;
}