<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MeiZu</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SmsCodeServlet</display-name>
    <servlet-name>SmsCodeServlet</servlet-name>
    <servlet-class>com.meizu.servlets.SmsCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SmsCodeServlet</servlet-name>
    <url-pattern>/SmsCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TelLoginServlet</display-name>
    <servlet-name>TelLoginServlet</servlet-name>
    <servlet-class>com.meizu.servlets.TelLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TelLoginServlet</servlet-name>
    <url-pattern>/TelLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserNameLoginServlet</display-name>
    <servlet-name>UserNameLoginServlet</servlet-name>
    <servlet-class>com.meizu.servlets.UserNameLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserNameLoginServlet</servlet-name>
    <url-pattern>/UserNameLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.meizu.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyServlet</display-name>
    <servlet-name>ModifyServlet</servlet-name>
    <servlet-class>com.meizu.servlets.ModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyServlet</servlet-name>
    <url-pattern>/ModifyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.meizu.servlets.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HealthModifyServlet</display-name>
    <servlet-name>HealthModifyServlet</servlet-name>
    <servlet-class>com.meizu.servlets.HealthModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HealthModifyServlet</servlet-name>
    <url-pattern>/HealthModifyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HealthQueryServlet</display-name>
    <servlet-name>HealthQueryServlet</servlet-name>
    <servlet-class>com.meizu.servlets.HealthQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HealthQueryServlet</servlet-name>
    <url-pattern>/HealthQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NetModifyServlet</display-name>
    <servlet-name>NetModifyServlet</servlet-name>
    <servlet-class>com.meizu.servlets.NetModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NetModifyServlet</servlet-name>
    <url-pattern>/NetModifyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NetQueryServlet</display-name>
    <servlet-name>NetQueryServlet</servlet-name>
    <servlet-class>com.meizu.servlets.NetQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NetQueryServlet</servlet-name>
    <url-pattern>/NetQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderQueryServlet</display-name>
    <servlet-name>OrderQueryServlet</servlet-name>
    <servlet-class>com.meizu.servlets.OrderQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderQueryServlet</servlet-name>
    <url-pattern>/OrderQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PhoneServlet</display-name>
    <servlet-name>PhoneServlet</servlet-name>
    <servlet-class>com.meizu.servlets.PhoneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhoneServlet</servlet-name>
    <url-pattern>/PhoneServlet</url-pattern>
  </servlet-mapping>
</web-app>